html {
    background: #f0f0f0;
    /*-webkit-font-smoothing: antialiased;*/
    height: 100%;
}
body {
    height: 100% !important;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
    color: #50595E;
    /*font-family: 'Raleway';*/
}
#react-entry-point {
      height: 100%;
}
.main {
      height: 100%;
      width: 100%;
      max-width: 95%;
      max-height: 90%;
      /*padding-right: 15px;
      padding-left: 15px;*/
      margin-right: auto;
      margin-left: auto;
      /*background-color: #7f8284;*/
}

.main-row {
    margin: 15px 0px 15px 0px;
}
.col-12{
	padding-bottom : 20px;
}

.card {
    font-size: 12px;
}

.card-header {
    font-weight: 500;
	background-color: white;
	border-bottom: 1px solid rgb(0 0 0 / 5%)
}
#csv-button {
	color:#17a2b8;
	float:right;
}
/*.text-secondary {
    overflow: auto;
    max-height: 500px;
}*/

